h2{
    background-color: azure;
    text-align: center;
}
p{
    background-color: burlywood;
    text-align: center;
}
h5{
    background-color: cornflowerblue;
    text-align: center;
}
body{
    background-color: blue;
}